Images
*.ipynb
idea/workspace.xml 
idea/tasks.xml
idea/**.xml
.idea/AMS.iml
.idea/codeStyles/Project.xml
.idea/dbnavigator.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

